.navbar{
	background: #0eb1e6;
	border: none;
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a{
	color:#fff !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background: #062a7b !important;
}

@media (max-width: 767px)
{
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}
}
